div.header {
    text-align: center;
    background-color: #fdfdfd;
    width: 100%;
}

div.header img {
}

div.footer {
    font-size: 90%;
    line-height: 90%;
}

h1 {
    font-size:250%;
    font-weight: 400;
    padding-bottom: 0.5ex;
    letter-spacing: -0.1ex;
}

fieldset table th,td {
    padding: 0 1em 1ex 0;
}

fieldset table input {
    margin: 0;
}

fieldset table td {
    border: none;
}

input[type=button],input[type=submit] {
    width: 100%;
    background-color: #fdfdfd;
}

input[type=checkbox][disabled] {
    opacity: .4;
}

tr.overflow,tr.ro td {
    color: #800;
}

tr.mounted td {
    text-decoration: line-through;
}

tr.ok td {
}