fieldset table th,td {
    padding: 0 1em 1ex 0;
}

fieldset table input {
    margin: 0;
}

fieldset table td {
    border: none;
}

div.header {
    text-align: center;
    background-color: #fdfdfd;
    width: 100%;
}

div.footer {
    font-size: 90%;
    line-height: 90%;
}

h1 {
    font-weight: 800;
    margin-bottom: 0;
    letter-spacing: 0.6ex;
}

h2 {
    font-weight: 400;
    font-size: 100%;
    word-spacing: -30%;
    position: relative;
    
    top: -1ex;
}

input[type=button] {
    width: 100%;
    background-color: #fdfdfd;
}

