[Unit]
Description=<?=PROGNAME?> job handler
After=network-online.target
Requires=<?=PROGNAME?>.path

[Service]
Type=oneshot
User=root
ExecStart=<?=APPROOT?>/bin/tarot_handler
ExecStartPost=/usr/bin/rm -f "<?=TRIGGER_FILE?>"
