body {
    font-weight: 700;
}

div.container {
    max-width: 1100px;
}

div.header {
    text-align: center;
    background-color: #fdfdfd;
    width: 100%;
}

div.header img {
    height: 5ex;
}

div.footer {
    margin-top: 3em;
    font-size: 90%;
    line-height: 90%;
}

h1 {
    font-size:250%;
    font-weight: 900;
    padding-bottom: 0.5ex;
    letter-spacing: -0.1ex;
}

fieldset table th,td {
    padding: 0 1em 1ex 0;
}

fieldset table input {
    margin: 0;
}

fieldset table td {
    border: none;
}

input[type=submit] {
    width: 100%;
    background-color: #fdfdfd;
}

input[name=write],input[name=confwrt],input[name=steal] {
    background-color: #cdcdfd;
}

input[type=checkbox][disabled] {
    opacity: .4;
}

tr.overflow,tr.ro td {
    color: #800;
}

tr.mounted td {
    text-decoration: line-through;
}

tr.ok td {
}

#progress {
    width: 100%;
    height: 3ex;
    background-color: #fdfdfd;
    font-size: 180%;
    font-weight: bolder;
    border: solid black 0.1ex;
    border-radius: 1ex;
    margin-bottom: 1ex;
}

#progress_bar {
    display: inline-block;
    height: 100%;
    width:99%;
    padding-right: 0.5ex;
    background-color: #bcbcfd;
    border-radius: 1ex;
    text-align: right;
}

#status {
    font-size:120%;
    font-weight: bold;
}

#back_button {
    background-color: #cdcdfd;
    display: none;
}